@use "@/style/helpers/" as *;


.logo {
    position: relative;
    z-index: 200;
    &__link {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        
        @include tablet {
            gap: .625rem;
        }
    }

    &__image {
        @include laptop {
            width: 2.8125rem;
            height: auto;
        }

        &--home {
            width: 5.625rem !important;

            @include mobile {
                display: none;
            }
        }
    }

    span {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-accent);
        padding-right: 3.125rem;

        @include laptop {
            font-size: 1.125rem;
            padding-right: 0;
        }
        @include tablet {
            display: none;
        }
        @include mobile {
            display: block;
        }
    }
}