@use '../../style/helpers/' as *;

.btn {
    padding: rem(20) rem(40);
}

.button-orange {
    background: var(--color-orange);
    color: var(--color-light);
    border-radius: var(--border);
    font-weight: 500;
    font-size: rem(20);
    letter-spacing: 0.01em;

    &:hover {
        opacity: 0.8;
    }
}