@use "@/style/helpers/" as *;


.logo {
    &__link {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    &__image {
        @include laptop {
            width: 2.8125rem;
            height: auto;
        }
    }

    span {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-accent);
        padding-right: 3.125rem;

        @include laptop {
            font-size: 1.125rem;
            padding-right: 0;
        }
    }
}