@use "@/style/helpers/" as *;


.social {
    &__icons{
        display: flex;
        gap: .3125rem;
    }



    &__icon {
        padding: .625rem;
        border-radius: 6.25rem;
        a {
            display: flex;
        }
    
        &:hover{
            background: color-mix(in srgb, var(--color-gray-s), transparent 70%);
            .icon-gray {
                fill: var(--color-accent);
            }
        }
    }
}

.icon-gray {
    transition: 0.2s all;
}