@use "@/style/helpers/" as *;


.social {
    &__icons{
        display: flex;
        gap: 1.4375rem;
    }



    &__icon:hover{
        .icon-gray {
            fill: var(--color-accent);
        }
    }
}

.icon-gray {
    transition: 0.2s all;
}