@use "./helpers/" as *;

:root {
  --color-light: #F3F3F3;

  --color-grey: #343434;
  --color-gray-s: #B9B9B9;


  --color-accent: #197CFF;


  --font-family-base: 'Montserrat', sans-serif;

  --border: #{rem(25)};

  --container-width: #{rem(1790)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

    @include laptop {
    --container-width: #{rem(1440)};
  }
}