@use "./helpers/" as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #141414;

  --color-white-orange: #F9977A;
  --color-orange: #FF6B40;
  --color-light-orange: #F5E4D4;
  --color-white-pink: #F579A1;

  --font-family-base: 'Inter', sans-serif;
  --font-family-accent: 'Kumbh Sans', sans-serif;

  --border: #{rem(25)};

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

    @include laptop {
    --container-width: #{rem(1280)};
  }
}