@use "@/style/helpers/" as *;


.search {
    font-size: inherit;
    flex: 1 1;
    &__inner {
        position: relative;
        display: flex;
    }

    &__button {
        display: flex;
        align-items: center;
        padding: .625rem .9375rem;
        border-radius: 50vh;
        width: 100%;
        background: color-mix(in srgb, var(--color-gray-s), transparent 70%);
        border: none;

        &:active  {
            outline: .125rem solid var(--color-accient);
            outline-offset: .125rem;
        }
    }

    &__placeholder {
        margin-left: .8rem;
        color: var(--color-gray-s);
    }

    &:focus-within .search__icon {
        left: calc(100% - 3rem); 
        background: #197CFF;  
        border-radius: 50%;


        path {
            fill: #ffffff;
        }
    }

    
    @include tablet {
        display: none;
    }
}